* {
	padding:0;
	border:0;
	margin:0;
}

body {
	background: #fff url("../images/main/structure/bg.gif") no-repeat right top;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.65em;
	color: #666;
	height: 100%;
}
a:link, a:visited, a:active {
	font-size: 0.9em;
	color: #003c6a;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #333;
}

/*
/*
/* Header
/*
*/
div#wrap {
	width: 940px;
	margin: auto;
}
div#header {
	width: 940px;
	height: 94px;
	margin-bottom: 0;
	float: left;
}
div#header-box-home, div#header-box-credits {
	width: 940px;
	height: 300px;
	background: #202020;
	clear: both;
	text-align: left;
}
div#header-box-home {
	background: url(../images/main/headers/home-orange-1.png) no-repeat;
}
div#header-box-credits {
	background: url(../images/main/headers/header-credits.png) no-repeat;
}
div#header-box-home, div#header-box-credits div.content {
	text-indent: -9999px;
}


/*
/*
/* Navigation
/*
*/
.nav{ margin-bottom:50px; overflow:auto; clear:both;}

.nav a{
	display:block;
	width: 1000px;
	text-indent:-9999px;
	height:94px;
	margin-right:7px;
	float:left;
	background-image:url(../images/main/nav-sprite.png);
	background-repeat:no-repeat;
	cursor:pointer;
}
#nav {
	float: left;
}

#nav_home {
	width: 74px;
	background-position:-20px 0;
}
#nav_home:hover, #nav_home.hover {
	background-position:-20px -94px;
}

#nav_services {
	width: 90px;
	background-position:-104px 0;
}
#nav_services:hover, #nav_services.hover {
	background-position: -104px -94px;
}

#nav_portfolio {
	width: 86px;
	background-position: -204px 0;
}
#nav_portfolio:hover, #nav_portfolio.hover {
	background-position: -204px -94px;
}

#nav_community {
	width: 110px;
	background-position: -302px 0;
}
#nav_community:hover, #nav_community.hover {
	background-position: -302px -94px;
}
#nav_contact {
	width: 94px;
	background-position: -425px 0;
}
#nav_contact:hover, #nav_contact.hover {
	background-position: -425px -94px;
}


div#logo {
	margin-top: 14px;
	margin-right: 12px;
	float: right;
}

div#center {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 50px;
}

.cs-logo {
	border: 0;
	border-style: none;	
}

/*
/*
/* Body
/*
*/

div#body {
	width: 916px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 20px;
}
div#body p {
	padding-bottom: 10px;
}

div#body h2 {
	color: #305faa;
	font-size: 1.4em;
	font-family: "Trebuchet MS", Georgia, sans-serif;
	padding-bottom: 5px;
	margin: 0em 0.5em 0.7em 0;
	border-bottom: 1px solid #bbb;
}
div#body h2 span.accent {
	color: #000;
}
div#body h3 {
	font-size: 1.5em;
	font-weight: normal;
}

div.box {
	padding-bottom: 20px;
}

div.encase {
	clear: both;
	padding-bottom: 20px;
}

div#social-media {
	float: right;
	margin: 0 1em 0 0.9em;
}
img.right {
	float: right;
	margin: 0em 0.5em 0em 0.5em;
}
img.left {
	float: left;
	margin: 0em 1.2em 0em 0;
}

h3.arrow {
	padding-left: 25px;
	background: url(../images/icons/crystal/1rightarrow.png) no-repeat center left;
	margin: 20px 0 20px 0;
}
div#body ul.credits {
	margin-left: 3em;
	font-size: 0.9em;
}
div#body ul.credits a {
	font-size: 1em;
}

/*
 *	Definitions
 */
 span.definition {
	 border-bottom: 1px dashed;
}

/*
 *
 * Footer
 *
 */

div#footer {
	clear: both;
	width: 916px;
	font-size: 0.75em;
	font-family: Arial, sans-serif;
	border-top: 1px solid #bbb;
	margin-top: 50px;
	margin-bottom: 25px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 15px;
	line-height: 1.1em;

}
div#footer a, div#footer a:visited, div#footer a:active {
	font-size: 1em;
	font-weight: normal;
	text-decoration: underline;
	color: #666;
}
div#copyright {
	float: left;
}
div#f-contact-info {
	float: right;
}
div#copyright img, div#f-contact-info img {
	vertical-align: text-top;
}

/*
 * Misc
 */

 div#iewarning {
	 margin-bottom: 20px;
}