<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Licensing/Credits Page" stopProcessing="true">
                    <match url="^license/$" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="license.php" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
